.side-menu{
    display: flex;
    height: 100vh;
}
.navi-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0 2px 4px grey;
    padding: 20px 0;
    align-items: center;
}
.side-menu-items{
    width: 75px;
    list-style: none;
    margin: 0;
    padding:20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.side-menu-item{
    margin: 0;
    padding: 0;
}
.side-menu-item-content{
    width: 380px;
    padding: 20px;
}
.logout{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 8px;
}
.logout:hover{
    cursor: pointer;
    background-color: #F7f7ff;   
}